@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body { 
	background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(./Pages/backgroundimg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
